.container {
    /*   //display:flex; */
      border:0.5px solid black;
      flex-direction:column;
      background-color:navy;
      height:200px;
      width:300px;
      justify-content:space-between; 
      position:relative;
      
    }
    .yellow {
      background-color:yellow;
    }
    .column {
      position:absolute;
      height:99.9%;
      width:35px;
      left:0;
      right:38%;
      margin:auto;
      border:0px solid black;
    }
    .row {
      position:absolute;
      width:99.9%;
      height:35px;
      top:0;
      bottom:10%;
      margin:auto;
    }