.row {
    display: flex;
}
body {
    color: white;
}
.col {
    flex: 1;
    margin: 5px;
    padding: 20px;
    background-color: rgb(86, 149, 149);
}
.col-2 {
    flex: 2;
    margin: 5px;
    padding: 20px;
    background-color: rgb(86, 149, 149);
}
.col-3 {
    flex: 3;
    margin: 5px;
    padding: 20px;
    background-color: rgb(86, 149, 149);
}